body {
  font-family: sans-serif;
  padding: 20px;
}

#results {
  margin-top: 20px;
  padding: 10px;
}

.item {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

#scarabBox {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}
