body {
  font-family: sans-serif;
  padding: 20px;
  background: #f4f4f4;
}

#results {
  margin-top: 20px;
  padding: 10px;
}

.item {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

#scarabList {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

.scarab-card {
  display: flex;
  gap: 12px;
  align-items: center;
  background: #fff;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}

.scarab-card img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  object-fit: cover;
}

.scarab-card .names {
  display: flex;
  flex-direction: column;
}
